#box1{
width:200px;
padding:20px;
margin: 30px;
border:5px solid blue;
border-radius: 15px;
background-color: rgb(238, 255, 0);
float:left;
}
#box2{
width:200px;
padding:10px;
margin: 30px;
border:5px solid blue;
border-radius: 15px;
background-color: rgb(238, 255, 0);
float:left;
}

#img1{
    width: 100%;
    border-radius:15px;
}
#img2{
    width: 90%;
    border-radius:15px;
}
#box1:hover{
    background-color: lightgreen;
}
p{
    text-align: justify;
}
