body{
    font-family: cursive;
    background-color: black;
    color: white;
}
h1{
    color: rgb(33, 85, 20);
    background-color: rgb(85, 141, 194);
}
a{
    color:aquamarine;
    text-decoration: none;
}
a:hover{
    color:yellowgreen;
}
ul>li{
    font-weight: bold;
}
span{
    background-color:navy;
padding: 10px;
border: 2px solid;
}
ul li:hover{
    color: palevioletred;
}
ul li:nth-child(2){
    background-color: orange;
}
ul li::before{
    content:"🚀";}

    a::after{
        content:"🌌";
    }
    li::first-letter{
        font-size: 200%;
    }

